<configuration scan="true" scanPeriod="60 seconds">


    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <property name="LOG_PATTERN"
              value="[%X{request_id:-startup}] [%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %clr(${LOG_LEVEL_PATTERN:-%5p}) %logger{35} %cyan(%logger{15}) %green(%M) %n %msg %n "/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>


    <logger name="freeapp.life.freeaiweb" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


</configuration>
